body {
    font-family: Arial;
    padding: 20px;
    background: #f5f5f5;
    text-align: center;
}

.container {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 15px;
    background: purple;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin: 5px auto;
    width: 250px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: gray;
}