body {
    font-family: Arial, sans-serif;
    margin: 4;
    padding: 0;
    background: #f5f5f5;
}

/* NAVIGATION */
nav {
    background: #1e3a8a;
    padding: 15px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Responsive Nav */
@media (max-width: 700px) {
    nav ul {
        flex-direction: column;
    }
}

/* PROFILE PAGE */
.profile-container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.profile-container img {
    width: 150px;
    border-radius: 50%;
}

.social-links a {
    margin-right: 15px;
    color: #1e3a8a;
}

/* PROGRAM FORM */
form {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background: #1e3a8a;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #182e6e;
}

/* PROGRAM CARDS */
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    width: 30%;
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

@media (max-width: 700px) {
    .card {
        width: 100%;
    }
}