body {
    font-family: Arial;
    background: #f3f3f3;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    max-width: 350px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 14px;
}